<footer class="page-footer">
    <div class="container">
        <div class="row footer-responsive">
            <div class="col l4 s12 dld-footer-first">
                <h5 class="white-text">Sitio</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#aboutme">Sobre mí</a></li>
                    <li><a class="grey-text text-lighten-3" href="#work">Experiencia</a></li>
                    <li><a class="grey-text text-lighten-3" href="#certification">Cursos / certificaciones</a></li>
                    <li><a class="grey-text text-lighten-3" href="#projects">Proyectos</a></li>
                    <li><a class="grey-text text-lighten-3" href="#contact">Contacto</a></li>
                </ul>
            </div>
            <div class="col l4 s12 dld-footer-center">
                <img src='/assets/logo.svg' alt="Logo footer designs dld" class="logo-footer">
                <ul>
                    <li>Ing. Daniel Dominguez Lozada</li>
                    <li>daniel.dominguezlozada@gmail.com</li>
                    <li>55 11 92 30 24</li>
                    <li>Ciudad de México</li>
                </ul>
            </div>
            <div class="col l4 s12 dld-footer-third">
                <div class="footer-rs">
                    <a href="https://www.linkedin.com/in/daniel-dominguez-lozada/">
                        <img src="/assets/linkedin_white.svg" alt="LinkedIn Daniel Dominguez">
                        <p>Daniel Dominguez</p>
                    </a>
                </div>

                <div class="footer-rs">
                    <a href="https://www.behance.net/danieldominguezl">
                        <img src="/assets/behance_white.svg" alt="Behance Daniel Dominguez">
                        <p>Daniel Dominguez</p>
                    </a>
                </div>

                <div class="footer-rs">
                    <a href="https://www.instagram.com/designs_daniiel/?hl=es-la">
                        <img src="/assets/ig_white.svg" alt="Instagram @designs_daniiel">
                        <p>@designs_daniiel</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>