/* --------------- Smartphones (portrait) --------------- */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    footer {
        height: auto;
        width: 100%;
        background-color: #060727;
    }
    .page-footer {
        padding: 0px;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .row {
        margin-bottom: 0px;
    }
    .footer-responsive {
        display: flex;
        flex-direction: column;
        align-items: end;
        height: 100%;
        padding: 24px 0px;
    }
    li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: white;
    }
    .dld-footer-first {
        display: flex;
        flex-direction: column;
        display: none;
    }
    .dld-footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0px 16px 0px;
    }
    .dld-footer-center ul {
        text-align: center;
    }
    .logo-footer {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    .dld-footer-third {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer-rs {
        width: 15%;
        display: flex;
        justify-content: center;
    }
    .footer-rs a {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
    }
    .footer-rs img {
        width: 32px;
        height: 32px;
    }
    .footer-rs p {
        display: none;
    }
}


/* --------------- Smartphones (landscape) --------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    footer {
        height: auto;
        width: 100%;
        background-image: url('/assets/wave.png');
    }
    .page-footer {
        padding: 0px;
        background-color: transparent;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .row {
        margin-bottom: 0px;
    }
    .footer-responsive {
        display: flex;
        flex-direction: row;
        align-items: end;
        height: 100%;
        padding: 24px 0px;
    }
    li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: white;
    }
    .dld-footer-first {
        display: flex;
        flex-direction: column;
    }
    .dld-footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dld-footer-center ul {
        text-align: center;
    }
    .logo-footer {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    .dld-footer-third {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .footer-rs {
        margin: 0px 0px 10px;
        width: 178px;
    }
    .footer-rs a {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
    }
    .footer-rs img {
        width: 32px;
        height: 32px;
        margin: 0px 10px 0px 0px;
    }
    .footer-rs p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }
}


/* --------------- iPads (portrait) --------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    footer {
        height: auto;
        width: 100%;
        background-image: url('/assets/wave.png');
    }
    .page-footer {
        padding: 0px;
        background-color: transparent;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .row {
        margin-bottom: 0px;
    }
    .footer-responsive {
        display: flex;
        flex-direction: row;
        align-items: end;
        height: 100%;
        padding: 32px;
    }
    li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: white;
    }
    .dld-footer-first {
        display: flex;
        flex-direction: column;
    }
    .dld-footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dld-footer-center ul {
        text-align: center;
    }
    .logo-footer {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    .dld-footer-third {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .footer-rs {
        margin: 0px 0px 10px;
        width: 178px;
    }
    .footer-rs a {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
    }
    .footer-rs img {
        width: 32px;
        height: 32px;
        margin: 0px 10px 0px 0px;
    }
    .footer-rs p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }
}


/* --------------- iPads (landscape) --------------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    footer {
        height: auto;
        width: 100%;
        background-image: url('/assets/wave.png');
    }
    .page-footer {
        padding: 0px;
        background-color: transparent;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .row {
        margin-bottom: 0px;
    }
    .footer-responsive {
        display: flex;
        flex-direction: row;
        align-items: end;
        height: 100%;
        padding: 24px 0px;
    }
    li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: white;
    }
    .dld-footer-first {
        display: flex;
        flex-direction: column;
    }
    .dld-footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dld-footer-center ul {
        text-align: center;
    }
    .logo-footer {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    .dld-footer-third {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .footer-rs {
        margin: 0px 0px 10px;
        width: 178px;
    }
    .footer-rs a {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
    }
    .footer-rs img {
        width: 32px;
        height: 32px;
        margin: 0px 10px 0px 0px;
    }
    .footer-rs p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }
}


/* --------------- Breakpoint --------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    footer {
        height: 250px;
        width: 100%;
        background-image: url('/assets/wave.png');
    }
    .page-footer {
        padding: 0px;
        background-color: transparent;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .row {
        margin-bottom: 0px;
    }
    .footer-responsive {
        display: flex;
        flex-direction: row;
        align-items: end;
        height: 100%;
        padding: 24px 0px;
    }
    li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: white;
    }
    .dld-footer-first {
        display: flex;
        flex-direction: column;
    }
    .dld-footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dld-footer-center ul {
        text-align: center;
    }
    .logo-footer {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    .dld-footer-third {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .footer-rs {
        margin: 0px 0px 10px;
        width: 178px;
    }
    .footer-rs a {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
    }
    .footer-rs img {
        width: 32px;
        height: 32px;
        margin: 0px 10px 0px 0px;
    }
    .footer-rs p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }
}


/* --------------- Desktops and laptops --------------- */

@media only screen and (min-width: 992px) and (max-width: 1999px) {
    footer {
        height: 250px;
        width: 100%;
        background-image: url('/assets/wave.png');
    }
    .page-footer {
        padding: 0px;
        background-color: transparent;
    }
    .container {
        width: 1140px;
        height: 100%;
    }
    .row {
        margin-bottom: 0px;
    }
    .footer-responsive {
        display: flex;
        flex-direction: row;
        align-items: end;
        height: 100%;
        padding: 24px 0px;
    }
    li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: white;
    }
    .dld-footer-first {
        display: flex;
        flex-direction: column;
    }
    .dld-footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dld-footer-center ul {
        text-align: center;
    }
    .logo-footer {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    .dld-footer-third {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .footer-rs {
        margin: 0px 0px 10px;
        width: 178px;
    }
    .footer-rs a {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
    }
    .footer-rs img {
        width: 32px;
        height: 32px;
        margin: 0px 10px 0px 0px;
    }
    .footer-rs p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }
}


/* --------------- Large screens --------------- */

@media only screen and (min-width: 2000px) {
    footer {
        height: 250px;
        width: 100%;
        background-image: url('/assets/wave.png');
    }
    .page-footer {
        padding: 0px;
        background-color: transparent;
    }
    .container {
        width: 1140px;
        height: 100%;
    }
    .row {
        margin-bottom: 0px;
    }
    .footer-responsive {
        display: flex;
        flex-direction: row;
        align-items: end;
        height: 100%;
        padding: 24px 0px;
    }
    li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: white;
    }
    .dld-footer-first {
        display: flex;
        flex-direction: column;
    }
    .dld-footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dld-footer-center ul {
        text-align: center;
    }
    .logo-footer {
        width: 50px;
        height: 50px;
        margin: auto;
    }
    .dld-footer-third {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .footer-rs {
        margin: 0px 0px 10px;
        width: 178px;
    }
    .footer-rs a {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
    }
    .footer-rs img {
        width: 32px;
        height: 32px;
        margin: 0px 10px 0px 0px;
    }
    .footer-rs p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }
}