<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">
            <img src='assets/logo.svg' alt="Icono dld designs" class="dld-logo">
        </a>

        <a (click)="showMenu()" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">dehaze</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngFor="let item of items">
                <a href="{{item.id}}"> {{item.label}} </a>
            </li>
        </ul>
    </div>
</nav>


<ul class="sidenav" id="mobile-demo">
    <div class="brand-logo dld-mobile">
        <img src='assets/logo.svg' alt="Icono dld designs" class="dld-logo-mobile">
    </div>

    <li *ngFor="let item of items">
        <a href="{{item.id}}"> {{item.label}} </a>
    </li>
</ul>