nav {
    background-color: #060727;
}

nav .brand-logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
}

.dld-logo {
    width: auto;
    height: 40px;
}

nav ul a {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    font-size: 14px !important;
}

.right li:hover,
.right li a:hover {
    background-color: white;
    color: #060727;
}

.dld-mobile {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;
}

.dld-logo-mobile {
    width: auto;
    height: 60px;
}

.sidenav li {
    padding: 0px 16px;
    height: 60px;
}

.sidenav li a {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #060727;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 0px;
}