/* ----- Colors ----- */

* {
    --main-color: #05dbc0;
    --second-color: #060727;
}

.white {
    color: white;
}

.semantic {
    color: #818181;
}

.main-color {
    color: var(--main-color);
}

.second-color {
    color: var(--second-color);
}


/* ----- Typography ----- */

h2 {
    color: var(--main-color);
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    color: #060727;
}

article {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 20px;
}

.body_2 {
    font-family: "Poppins Semibold";
    font-size: 18px;
    line-height: 22px;
    margin: 0px;
}

.body_3 {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}

.title {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    color: var(--second-color);
}

.caption {
    font-family: "Poppins";
    font-size: 12px;
    line-height: 16px;
}

.bg-banner {
    height: 236px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
}


/* --------------- Smartphones (portrait) --------------- */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .dld-container {
        width: 100%;
        margin: auto;
        padding: 15px;
    }
    h2 {
        margin: auto;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin: 10px 0px 0px 0px;
        text-align: center;
    }
    .body_3 {
        margin: 20px 0px;
    }
    article {
        width: 100%;
        margin: 30px auto 20px auto;
    }
    .dld-img-project {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin: 0px;
    }
    .dld-details {
        width: 100%;
        margin: 0px auto 20px auto;
        display: flex;
        flex-direction: column;
    }
    .dld-details-project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
    }
    button {
        width: 240px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border: none;
    }
    .dld-behance {
        width: 24px;
        height: auto;
        color: var(--second-color);
    }
    .dld-arrow {
        width: 20px;
        height: 20px;
    }
    .dld-images {
        width: 100%;
        margin: 0px auto 50px auto;
        padding: 0px 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dld-img-resume {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}


/* --------------- Smartphones (landscape) --------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .dld-container {
        width: 100%;
        margin: auto;
        padding: 15px;
    }
    h2 {
        margin: auto;
        padding: 0px 0px 50px 0px;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        text-align: center;
        margin: 0px auto;
        font-size: 24px;
        line-height: 28px;
    }
    .body_3 {
        margin: 20px 0px;
    }
    article {
        width: 100%;
        margin: 30px auto 20px auto;
    }
    .dld-img-project {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin: 0px;
    }
    .dld-details {
        width: 100%;
        margin: 0px auto 20px auto;
        display: flex;
        flex-direction: column;
    }
    .dld-details-project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
    }
    button {
        width: 240px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border: none;
    }
    .dld-behance {
        width: 24px;
        height: auto;
        color: var(--second-color);
    }
    .dld-arrow {
        width: 20px;
        height: 20px;
    }
    .dld-images {
        width: 100%;
        margin: 0px auto 50px auto;
        padding: 0px 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dld-img-resume {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}


/* --------------- iPads (portrait) --------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .dld-container {
        width: 100%;
        margin: auto;
    }
    h2 {
        margin: auto;
        padding: 0px 0px 50px 0px;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
    }
    article {
        width: 900px;
        margin: 50px auto;
    }
    .dld-img-project {
        width: 500px;
        height: auto;
        border-radius: 8px;
        margin: 0px 50px 0px 0px;
    }
    .dld-details {
        width: 100%;
        margin: 0px auto 50px auto;
        display: flex;
        flex-direction: row;
    }
    .dld-details-project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }
    button {
        width: 240px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border: none;
    }
    .dld-behance {
        width: 24px;
        height: auto;
        color: var(--second-color);
    }
    .dld-arrow {
        width: 20px;
        height: 20px;
    }
    .dld-images {
        width: 100%;
        margin: 0px auto 50px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dld-img-resume {
        width: 550px;
        height: auto;
        border-radius: 8px;
    }
}


/* --------------- iPads (landscape) --------------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .dld-container {
        width: 100%;
        margin: auto;
    }
    h2 {
        margin: auto;
        padding: 0px 0px 50px 0px;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
    }
    article {
        width: 900px;
        margin: 50px auto;
    }
    .dld-img-project {
        width: 500px;
        height: auto;
        border-radius: 8px;
        margin: 0px 50px 0px 0px;
    }
    .dld-details {
        width: 100%;
        margin: 0px auto 50px auto;
        display: flex;
        flex-direction: row;
    }
    .dld-details-project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }
    button {
        width: 240px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border: none;
    }
    .dld-behance {
        width: 24px;
        height: auto;
        color: var(--second-color);
    }
    .dld-arrow {
        width: 20px;
        height: 20px;
    }
    .dld-images {
        width: 100%;
        margin: 0px auto 50px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dld-img-resume {
        width: 550px;
        height: auto;
        border-radius: 8px;
    }
}


/* --------------- Breakpoint --------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dld-container {
        width: 100%;
        margin: auto;
    }
    h2 {
        margin: auto;
        padding: 0px 0px 50px 0px;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
    }
    article {
        width: 900px;
        margin: 50px auto;
    }
    .dld-img-project {
        width: 500px;
        height: auto;
        border-radius: 8px;
        margin: 0px 50px 0px 0px;
    }
    .dld-details {
        width: 100%;
        margin: 0px auto 50px auto;
        display: flex;
        flex-direction: row;
    }
    .dld-details-project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }
    button {
        width: 240px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border: none;
    }
    .dld-behance {
        width: 24px;
        height: auto;
        color: var(--second-color);
    }
    .dld-arrow {
        width: 20px;
        height: 20px;
    }
    .dld-images {
        width: 100%;
        margin: 0px auto 50px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dld-img-resume {
        width: 550px;
        height: auto;
        border-radius: 8px;
    }
}


/* --------------- Desktops and laptops --------------- */

@media only screen and (min-width: 992px) {
    .dld-container {
        width: 1140px;
        margin: auto;
    }
    h2 {
        margin: auto;
        padding: 0px 0px 50px 0px;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
    }
    article {
        width: 900px;
        margin: 50px auto;
    }
    .body_3 {
        height: 55%;
    }
    .dld-img-project {
        width: 500px;
        height: auto;
        border-radius: 8px;
        margin: 0px 50px 0px 0px;
    }
    .dld-details {
        width: 1140px;
        margin: 0px auto 50px auto;
        display: flex;
        flex-direction: row;
    }
    .dld-details-project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        height: 353px;
    }
    button {
        width: 240px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border: none;
    }
    .dld-behance {
        width: 24px;
        height: auto;
        color: var(--second-color);
    }
    .dld-arrow {
        width: 20px;
        height: 20px;
    }
    .dld-images {
        width: 1140px;
        margin: 0px auto 50px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dld-img-resume {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}