<div class="bg-banner">
    <h2>{{foundProject.title }}</h2>
</div>

<div class="dld-container">
    <h3>
        {{foundProject.subTitle}}
    </h3>

    <article>
        {{foundProject.descripcion}}
    </article>

    <div class="dld-details">
        <img src="{{foundProject.cover}}" alt="Imagen del proyecto" class="dld-img-project">

        <div class="dld-details-project">
            <p class="title">Mi rol: </p>
            <p class="body_3">{{foundProject.detailsProject}}</p>
            <button class="caption">
                <img src="/assets/behance.svg" class="dld-behance" alt="Behance {{foundProject.title }}">
                Ver proyecto en Behance                
                <img src="/assets/arrow.png" class="dld-arrow" alt="Arrow">
            </button>
        </div>
    </div>
</div>

<div class="dld-images">
    <img *ngFor="let item of foundProject.imagenes" src="{{item}}" alt="Imagen del proyecto" class="dld-img-resume">
</div>