<div class="bg-banner">
    <h2>Portafolio de proyectos</h2>
</div>

<div *ngFor="let project of projectData" class="dld-project">
    <div class="card-img">
        <img class="dld-img-cover" src="{{project.cover}}" alt="Portada de proyecto">
    </div>

    <div class="card-body">
        <h3>{{project.title}}</h3>
        <p class="card-text body_3">{{project.subTitle}}</p>
        <a class="btn btn-secondary caption_2" (click)="goToProject(project.id)">
          Ver más
          <img src="../../assets/arrow.png" alt="Ver más">
        </a>
    </div>
</div>