/* ----- Colors ----- */

* {
    --main-color: #05dbc0;
    --second-color: #060727;
}

.white {
    color: white;
}

.semantic {
    color: #818181;
}

.main-color {
    color: var(--main-color);
}

.second-color {
    color: var(--second-color);
}


/* ----- Typography ----- */

h2 {
    color: var(--main-color);
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    color: #060727;
}

.body_3 {
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
}

.caption_2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: white;
}


/* ----- Generals ----- */

.dld-img-cover {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.bg-banner {
    height: 236px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
}


/* --------------- Smartphones (portrait) --------------- */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .dld-project {
        width: 90%;
        margin: 20px auto 0px auto;
        display: flex;
        flex-direction: column;
    }
    .dld-project:last-child {
        margin: 40px auto;
    }
    h2 {
        padding: 0px;
        font-size: 32px;
        line-height: 36px;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .card-img {
        width: 100%;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    .card-body {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .card-text {
        margin: 16px 0px;
        display: none;
    }
    .btn-secondary {
        width: 130px;
        height: 30px;
        background: #FFFFFF;
        color: var(--second-color);
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: inherit;
        margin: 16px auto 0px auto;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
    }
}


/* --------------- Smartphones (landscape) --------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .dld-project {
        width: 90%;
        margin: 20px auto 0px auto;
        display: flex;
        flex-direction: column;
    }
    .dld-project:last-child {
        margin: 40px auto;
    }
    h2 {
        padding: 0px;
        font-size: 32px;
        line-height: 36px;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .card-img {
        width: 100%;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    .card-body {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .card-text {
        margin: 16px 0px;
        display: none;
    }
    .btn-secondary {
        width: 130px;
        height: 30px;
        background: #FFFFFF;
        color: var(--second-color);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: inherit;
        margin: 16px auto 0px auto;
    }
}


/* --------------- iPads (portrait) --------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    .dld-project {
        width: 95%;
        margin: 20px auto 0px auto;
        display: flex;
        flex-direction: row;
    }
    .dld-project:last-child {
        margin: 40px auto;
    }
    h2 {
        margin: auto;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .card-img {
        width: 354px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    .card-body {
        width: 69%;
        padding: 0px 0px 0px 20px;
    }
    .card-text {
        margin: 20px 0px;
    }
    .btn-secondary {
        width: 130px;
        height: 30px;
        background: #FFFFFF;
        color: var(--second-color);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: inherit;
    }
}


/* --------------- iPads (landscape) --------------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .dld-project {
        width: 95%;
        margin: 20px auto 0px auto;
        display: flex;
        flex-direction: row;
    }
    .dld-project:last-child {
        margin: 40px auto;
    }
    h2 {
        margin: auto;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .card-img {
        width: 354px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    .card-body {
        width: 69%;
        padding: 0px 0px 0px 20px;
    }
    .card-text {
        margin: 20px 0px;
    }
    .btn-secondary {
        width: 130px;
        height: 30px;
        background: #FFFFFF;
        color: var(--second-color);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: inherit;
    }
}


/* --------------- Breakpoint --------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dld-project {
        width: 95%;
        margin: 20px auto 0px auto;
        display: flex;
        flex-direction: row;
    }
    .dld-project:last-child {
        margin: 40px auto;
    }
    h2 {
        margin: auto;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .card-img {
        width: 354px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    .card-body {
        width: 69%;
        padding: 0px 0px 0px 20px;
    }
    .card-text {
        margin: 20px 0px;
    }
    .btn-secondary {
        width: 130px;
        height: 30px;
        background: #FFFFFF;
        color: var(--second-color);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: inherit;
    }
}


/* --------------- Desktops and laptops --------------- */

@media only screen and (min-width: 992px) and (max-width: 1999px) {
    .dld-project {
        width: 1140px;
        margin: 40px auto 0px auto;
        display: flex;
        flex-direction: row;
    }
    .dld-project:last-child {
        margin: 40px auto;
    }
    h2 {
        margin: auto;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .card-img {
        width: 354px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    .card-body {
        width: 69%;
        padding: 0px 0px 0px 50px;
    }
    .card-text {
        margin: 20px 0px;
    }
    .btn-secondary {
        width: 130px;
        height: 30px;
        background: #FFFFFF;
        color: var(--second-color);
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: inherit;
        border-radius: 50px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    .btn-secondary:hover {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    }
}


/* --------------- Large screens --------------- */

@media only screen and (min-width: 2000px) {
    .dld-project {
        width: 1140px;
        margin: 40px auto 0px auto;
        display: flex;
        flex-direction: row;
    }
    .dld-project:last-child {
        margin: 40px auto;
    }
    h2 {
        margin: auto;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .card-img {
        width: 354px;
        height: 250px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    .card-body {
        width: 69%;
        padding: 0px 0px 0px 50px;
    }
    .card-text {
        margin: 20px 0px;
    }
    .btn-secondary {
        width: 130px;
        height: 30px;
        background: #FFFFFF;
        color: var(--second-color);
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: inherit;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        border-radius: 50px;
    }
    .btn-secondary:hover {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
    }
}