<div class="banner">
    <div class="dld-banner-content">
        <h1>Diseñador UX/UI</h1>
        <p class="body_2 bd_sm">Diseño web, Experiencia de Usuario e Interfaz de Usuario.</p>
        <a class="waves-effect waves-light btn dld-primary-btn">Conoce mi trabajo</a>
    </div>

    <div class="dld-banner-img">
        <img src='/assets/banner_img.svg' class="dld-first-img" alt="Ilustración daniel dominguez">
    </div>
</div>

<div id="aboutme">
    <h2>Un poco sobre mí</h2>

    <div class="dld-info-first">
        <img src='/assets/dld.svg' class="dld-profile" alt="Ing. Daniel Dominguez Lozada">

        <div class="dld-info">
            <p class="body_1 second-color">
                Mi nombre es Daniel Dominguez Lozada, soy Diseñador UX/UI, con experiencia en Diseño Web. Ingenierio en Tecnologías de la Información y Comunicaciones del Instituto Tecnológico de Gustavo A. Madero.
            </p>

            <p class="body_1 second-color">
                Soy una persona comprometida con los objetivos planteados, logrando así mis metas para contribuir a mi desarrollo personal, con el compromiso de superarme cada día y capacitarme constantemente.
            </p>
            <div class="dld-rs">
                <a href="https://www.linkedin.com/in/daniel-dominguez-lozada/" class="dld-social">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="https://www.behance.net/danieldominguezl" class="dld-social">
                    <i class="fa-brands fa-behance"></i>
                </a>
                <a href="https://www.instagram.com/designs_daniiel/?hl=es-la" class="dld-social">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="dld-info-second">
        <div class="dld-tools">
            <h3>Herramientas & Habilidades</h3>

            <div class="dld-div-tags">
                <div class="dld-tag body_3">Adobe XD</div>
                <div class="dld-tag body_3">Maquetación web</div>
                <div class="dld-tag body_3">Bootstrap</div>
                <div class="dld-tag body_3">Bitbucket</div>
                <div class="dld-tag body_3">HTML5/CSS3</div>
                <div class="dld-tag body_3">Visual Studio Code</div>
                <div class="dld-tag body_3">UX Design</div>
                <div class="dld-tag body_3">UI Design</div>
                <div class="dld-tag body_3">Responsive Design</div>
                <div class="dld-tag body_3">Scrum</div>
                <div class="dld-tag body_3">Zeplin</div>
                <div class="dld-tag body_3">Wireframing</div>
                <div class="dld-tag body_3">Design System</div>
                <div class="dld-tag body_3">Design Thinking</div>
            </div>

            <div class="dld-img-tools">
                <img src='/assets/Figma.svg' alt="Figma logo">
                <img src='/assets/xd.svg' alt="Adobe XD logo">
                <img src='/assets/Zeplin.svg' alt="Zeplin">
                <img src='/assets/html5.svg' alt="HTML5">
                <img src='/assets/css3.svg' alt="CSS3">
                <img src='/assets/Bitbucket.svg' alt="Bitbucket">
                <img src='/assets/BrowserStack.svg' alt="BrowserStack">
            </div>
        </div>

        <div class="dld-education">
            <h3>Educación</h3>

            <div class="dld-education-content">
                <div class="dld-itgam-content">
                    <img src='/assets/itgam.svg' class="dld-school" alt="Itgam logo">

                    <div class="dld-school-info">
                        <p class="title">Instituto Tecnológico de Gustavo A. Madero</p>
                        <p class="caption">
                            Ingeniería en Tecnologías de la Información y Comunicaciones
                        </p>
                        <p class="caption"> Cédula profesional: <span>10498725</span></p>
                    </div>
                </div>

                <div class="dld-bedu-content">
                    <img src='/assets/bedu.svg' class="dld-school" alt="Logo Bedu">

                    <div class="dld-school-info-b">
                        <p class="title">Bedu</p>
                        <p class="caption">
                            Diseño UX UI
                        </p>
                        <p class="caption"> oct 2019 - mar 2020 </p>
                    </div>
                </div>
            </div>

            <a class="waves-effect waves-light btn dld-primary-btn" href="../../assets/pdf/Placeholder.pdf" download>Descargar CV</a>
        </div>
    </div>
</div>

<div id="work">
    <h2>Experiencia laboral</h2>

    <div class="dld-work-content">
        <div class="dld-work-history">
            <div class="dld-dates">
                <div class="dld-circle caption_2">
                    ene 2020 - actual
                </div>

                <p class="second-color caption">2 años</p>
            </div>

            <div class="dld-work-info">
                <p class="title">Diseñador UX/UI</p>
                <p class="body_3 semantic">Todo en Subastas</p>
                <ul>
                    <li>Rediseño del sitio web de la empresa.</li>
                    <li>Benchmarking.</li>
                    <li>Creación de Wireframes (baja, mediana y alta calidad).</li>
                    <li>Implementación de la estructura del sitio web con HTML5, Flexbox y CSS3.</li>
                    <li>Diseño responsivo.</li>
                    <li>Rediseño de aplicación móvil.</li>
                    <li>Diseño de módulos para sistemas internos.</li>
                </ul>
            </div>
        </div>

        <div class="dld-work-history">
            <div class="dld-dates">
                <div class="dld-circle caption_2">
                    ago 2016 - nov 2019
                </div>

                <p class="second-color caption">3 años</p>
            </div>

            <div class="dld-work-info">
                <p class="title">Diseñador web / Diseñador UX UI</p>
                <p class="body_3 semantic">Massive Dynamic Soluciones Digitales</p>
                <ul>
                    <li>Maquetación web.</li>
                    <li>Apoyo en el área de diseño (web y app).</li>
                    <li>Wireframes (baja, mediana y alta calidad).</li>
                    <li>Documentación e implementación de sitios web.</li>
                    <li>Diseño responsivo.</li>
                    <li>Instalación y migración de sitios Wordpress.</li>
                    <li>Administración de la publicidad con la herramienta de Google “AdSense”.</li>
                </ul>
            </div>
        </div>

        <div class="dld-work-history">
            <div class="dld-dates">
                <div class="dld-circle caption_2">
                    feb 2016 - jul 2016
                </div>

                <p class="second-color caption">6 meses</p>
            </div>

            <div class="dld-work-info">
                <p class="title">Diseñador web</p>
                <p class="body_3 semantic">Ajna Solutions</p>
                <ul>
                    <li>Maquetación web.</li>
                    <li>Rediseño del sitio web.</li>
                    <li>Diseño responsivo.</li>
                    <li>Actualización del sitio web.</li>
                    <li>Mantenimiento del sitio web.</li>
                </ul>
            </div>
        </div>

        <div class="dld-work-history">
            <div class="dld-dates">
                <div class="dld-circle caption_2">
                    feb 2016 - jul 2016
                </div>

                <p class="second-color caption">6 meses</p>
            </div>

            <div class="dld-work-info">
                <p class="title">Prácticas Profesionales</p>
                <p class="body_3 semantic">Telmex</p>
                <ul>
                    <li>Maquetación web.</li>
                    <li>Diseño de la aplicación móvil.</li>
                    <li>Sistema de diseño.</li>
                    <li>Documentación del proyecto.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="projects">
    <h2>Proyectos</h2>

    <div class="dld-projects">
        <div class="dld-projects-content">
            <ng-container *ngFor="let project of projectData let i=index">
                <div *ngIf="i<6" (click)='goToProject(project.id)' class="dld-card" [style.background-image]="'url('+project.cover+')'">
                    <div class="dld-card-title" [class]="project.class">
                        {{project.title}}
                    </div>
                </div>
            </ng-container>
        </div>


        <button class="waves-effect waves-light btn dld-primary-btn" (click)="goToProject('all')">Ver mi portafolio</button>
    </div>
</div>

<div id="certification">
    <h2>Cursos y certificaciones</h2>
    <swiper [navigation]="true" class="mySwiper">

        <ng-template swiperSlide>
            <div class="slider-container">
                <img src="/assets/cert_bedu.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_sfpc.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_smpc.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_cdu.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_sidi.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_di.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_diux.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_desp.png" class="materialboxed" alt="Contáctanos">
            </div>

        </ng-template>
        <ng-template swiperSlide>
            <div class="slider-container">
                <img src="/assets/cert_webI.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_webII.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_dim.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_deth.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_dipr.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_usa.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_arin.png" class="materialboxed" alt="Contáctanos">
                <img src="/assets/cert_pobu.png" class="materialboxed" alt="Contáctanos">
            </div>

        </ng-template>

    </swiper>
</div>

<div id="contact">
    <h2>Contacto</h2>

    <div class="dld-contact">
        <div class="dld-contact-first">
            <p class="body_2">Llena el siguiente formulario y me pondré en contacto contigo lo más pronto posible.</p>

            <img src="assets/dld-contact.svg" class="dld-img-contact" alt="Contáctanos">
        </div>

        <div class="dld-contact-second">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">Nombre</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Apellido</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Correo electrónico</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Mensaje</label>
                        </div>
                    </div>
                </form>

                <button class="waves-effect waves-light btn dld-primary-btn">Enviar</button>
            </div>
        </div>
    </div>
</div>