/* ----- Colors ----- */

* {
    --main-color: #05dbc0;
    --second-color: #060727;
}

.white {
    color: white;
}

.semantic {
    color: #818181;
}

.main-color {
    color: var(--main-color);
}

.second-color {
    color: var(--second-color);
}


/* ----- Typography ----- */

h1 {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    color: white;
}

h2 {
    color: var(--main-color);
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    color: #060727;
}

.body_1 {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
}

.body_2 {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    color: white;
}

.body_3 {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    color: var(--second-color);
}

.caption {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
}

.caption_2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    color: white;
}

span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    color: var(--main-color);
}

.dld-primary-btn {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    color: white;
    text-transform: none;
}


/* ----- General ----- */

.dld-card-title {
    background: rgba(255, 255, 255, 0.95);
    height: 50px;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dld-social:hover,
.fa-brands:hover {
    background-color: var(--second-color);
    color: white;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}


/* --------------- Smartphones (portrait) --------------- */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    /* ----- Typography ----- */
    h1 {
        font-size: 32px;
        line-height: 36px;
        color: white;
        margin: 0px 0px 30px 0px;
    }
    h2 {
        margin: auto;
        padding: 0px 0px 40px 0px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 0px;
    }
    .body_1 {
        font-size: 16px;
        line-height: 22px;
        margin: 0px 0px 16px 0px;
    }
    .body_2 {
        font-size: 18px;
        line-height: 24px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .title {
        font-size: 18px;
        line-height: 22px;
        margin: 0px;
    }
    .caption {
        font-size: 14px;
        line-height: 18px;
        margin: 0px 0px 10px 0px;
    }
    .caption_2 {
        font-size: 10px;
        line-height: 15px;
        text-align: center;
    }
    span {
        font-size: 16px;
        line-height: 20px;
    }
    #aboutme {
        width: 100%;
        height: auto;
        padding: 40px 0px;
    }
    #work {
        width: 100%;
        height: auto;
        padding: 40px 0px;
    }
    #projects {
        width: 100%;
        height: auto;
        padding: 40px 0px;
    }
    #certification {
        width: 100%;
        height: auto;
        padding: 40px 0px;
    }
    #contact {
        width: 100%;
        height: auto;
        padding: 40px 0px;
    }
    /* ------- banner ------- */
    .banner {
        width: 100%;
        height: 400px;
        background-color: var(--second-color);
        display: flex;
        flex-direction: column;
        padding: 0px 16px;
    }
    .dld-banner-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0px;
    }
    .bd_sm {
        display: none;
    }
    .dld-primary-btn {
        background: var(--main-color);
        border-radius: 8px;
        width: 100%;
        height: 50px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }
    .dld-banner-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dld-first-img {
        width: 295px;
        height: auto;
    }
    /* ------- About Me ------- */
    .dld-info-first {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .dld-profile {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0px 0px 20px 0px;
    }
    .dld-info {
        width: 100%;
        padding: 0px 16px;
    }
    .dld-rs {
        display: flex;
        flex-direction: row;
        height: 40px;
        justify-content: center;
    }
    .dld-social {
        margin: 0px 8px;
    }
    .dld-info-second {
        display: flex;
        flex-direction: column;
        margin: 30px auto 0px;
        width: 100%;
        justify-content: space-between;
    }
    .dld-tools {
        display: flex;
        flex-direction: column;
        padding: 0px 3px;
    }
    .dld-div-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin: 20px 0px;
        overflow-x: scroll;
    }
    .dld-div-tags .dld-tag {
        font-family: "Poppins";
        font-size: 12px;
        line-height: 16px;
    }
    .dld-tag {
        border: 1px solid var(--main-color);
        border-radius: 8px;
        background-color: white;
        width: auto;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 5px 10px 5px;
    }
    .dld-img-tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        padding: 0px 16px;
        flex-wrap: wrap;
    }
    .dld-img-tools img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    /* ------- Education ------- */
    .dld-education {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0px 16px;
        margin: 20px 0px 0px 0px;
    }
    .dld-education-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0px;
    }
    .dld-itgam-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0px 0px 20px 0px;
    }
    .dld-school {
        width: 85px;
        height: 85px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }
    .dld-school-info {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .dld-bedu-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .dld-school-info-b {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    /* ------- Work ------- */
    .dld-work-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        padding: 0px 16px;
    }
    .dld-work-history {
        width: 100%;
        margin: 0px auto 30px auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .dld-work-history:last-child {
        margin: 0px auto;
    }
    .dld-dates {
        width: 24%;
    }
    .dld-dates p {
        text-align: center;
        margin: 10px 0px;
    }
    .dld-circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: var(--main-color);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }
    .dld-work-info {
        width: 73%;
    }
    .dld-work-info ul {
        margin: 20px;
    }
    .dld-work-info ul li {
        font-family: "Poppins";
        font-size: 16px;
        line-height: 20px;
        color: var(--second-color);
        list-style-type: circle;
    }
    /* ------- Projects ------- */
    .dld-projects {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 16px;
    }
    .dld-projects-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .dld-card {
        width: 100%;
        height: 240px;
        background-color: white;
        display: flex;
        align-items: end;
        margin: 0px 0px 20px 0px;
        border-radius: 4px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    /* ------- Certifications ------- */
    .slider-container {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        justify-content: center;
        align-content: center;
    }
    .slider-container>img {
        width: 260px;
        height: 180px;
        margin: 10px;
        border-radius: 10px;
    }
    /* ------- Contact ------- */
    .dld-contact {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0px 16px;
    }
    .dld-contact-first {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .dld-contact-first p {
        color: var(--second-color);
    }
    .dld-img-contact {
        display: none;
    }
    .dld-contact-second {
        width: 100%;
        height: auto;
    }
}


/* --------------- Smartphones (landscape) --------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* ----- Typography ----- */
    h1 {
        font-size: 32px;
        line-height: 36px;
        color: white;
        margin: 0px 0px 30px 0px;
    }
    h2 {
        margin: auto;
        padding: 0px 0px 40px 0px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 0px;
    }
    .body_1 {
        font-size: 16px;
        line-height: 22px;
        margin: 0px 0px 16px 0px;
    }
    .body_2 {
        font-size: 18px;
        line-height: 24px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .title {
        font-size: 18px;
        line-height: 22px;
        margin: 0px;
    }
    .caption {
        font-size: 14px;
        line-height: 18px;
        margin: 0px 0px 10px 0px;
    }
    .caption_2 {
        font-size: 10px;
        line-height: 15px;
        text-align: center;
    }
    span {
        font-size: 16px;
        line-height: 20px;
    }
    #aboutme {
        width: 100%;
        height: auto;
        padding: 40px 0px;
    }
    #work {
        width: 100%;
        height: auto;
        padding: 40px 0px;
    }
    #projects {
        width: 100%;
        height: auto;
        padding: 40px 0px;
    }
    #certification {
        width: 100%;
        height: auto;
        padding: 40px 0px;
    }
    #contact {
        width: 100%;
        height: auto;
        padding: 40px 0px;
    }
    /* ------- banner ------- */
    .banner {
        width: 100%;
        height: 400px;
        background-color: var(--second-color);
        display: flex;
        flex-direction: column;
        padding: 0px 16px;
    }
    .dld-banner-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0px;
    }
    .bd_sm {
        display: none;
    }
    .dld-primary-btn {
        background: var(--main-color);
        border-radius: 8px;
        width: 100%;
        height: 50px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }
    .dld-banner-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dld-first-img {
        width: 295px;
        height: auto;
    }
    /* ------- About Me ------- */
    .dld-info-first {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .dld-profile {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0px 0px 20px 0px;
    }
    .dld-info {
        width: 100%;
        padding: 0px 16px;
    }
    .dld-rs {
        display: flex;
        flex-direction: row;
        height: 40px;
        justify-content: center;
    }
    .dld-social {
        margin: 0px 8px;
    }
    .dld-info-second {
        display: flex;
        flex-direction: column;
        margin: 30px auto 0px;
        width: 100%;
        justify-content: space-between;
    }
    .dld-tools {
        display: flex;
        flex-direction: column;
    }
    .dld-div-tags {
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        width: 100%;
        justify-content: space-between;
        margin: 20px 0px;
        overflow-x: scroll;
    }
    .dld-tag {
        border: 1px solid var(--main-color);
        border-radius: 8px;
        background-color: white;
        height: 60px;
        width: auto;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 5px 10px 5px;
    }
    .dld-img-tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 53px;
        padding: 0px 16px;
    }
    .dld-img-tools img {
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    /* ------- Education ------- */
    .dld-education {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0px 16px;
    }
    .dld-education-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0px;
    }
    .dld-itgam-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0px 0px 20px 0px;
    }
    .dld-school {
        width: 85px;
        height: 85px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }
    .dld-school-info {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .dld-bedu-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .dld-school-info-b {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    /* ------- Work ------- */
    .dld-work-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        padding: 0px 16px;
    }
    .dld-work-history {
        width: 100%;
        margin: 0px auto 30px auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .dld-work-history:last-child {
        margin: 0px auto;
    }
    .dld-dates {
        width: 24%;
    }
    .dld-dates p {
        text-align: center;
        margin: 10px 0px;
    }
    .dld-circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: var(--main-color);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }
    .dld-work-info {
        width: 73%;
    }
    .dld-work-info ul {
        margin: 20px;
    }
    .dld-work-info ul li {
        font-family: "Poppins";
        font-size: 16px;
        line-height: 20px;
        color: var(--second-color);
        list-style-type: circle;
    }
    /* ------- Projects ------- */
    .dld-projects {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 16px;
    }
    .dld-projects-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .dld-card {
        width: 100%;
        height: 240px;
        background-color: white;
        display: flex;
        align-items: end;
        margin: 0px 0px 20px 0px;
        border-radius: 4px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    /* ------- Certifications ------- */
    .slider-container {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        justify-content: center;
        align-content: center;
    }
    .slider-container>img {
        width: 260px;
        height: 180px;
        margin: 10px;
        border-radius: 10px;
    }
    /* ------- Contact ------- */
    .dld-contact {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0px 16px;
    }
    .dld-contact-first {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .dld-contact-first p {
        color: var(--second-color);
    }
    .dld-img-contact {
        display: none;
    }
    .dld-contact-second {
        width: 100%;
        height: auto;
    }
}


/* --------------- iPads (portrait) --------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    h1 {
        font-size: 40px;
        line-height: 46px;
        color: white;
        margin: 0px;
    }
    h2 {
        margin: auto;
        padding: 0px 0px 50px 0px;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 0px;
    }
    .body_1 {
        font-size: 20px;
        line-height: 26px;
    }
    .body_2 {
        font-size: 18px;
        line-height: 24px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .title {
        font-size: 18px;
        line-height: 22px;
        margin: 0px 0px 10px 0px;
    }
    .caption {
        font-size: 14px;
        line-height: 18px;
        margin: 0px 0px 10px 0px;
    }
    .caption_2 {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    span {
        font-size: 16px;
        line-height: 20px;
    }
    /* ------- banner ------- */
    .banner {
        width: 100%;
        height: 400px;
        background-color: #060727;
        display: flex;
        flex-direction: row;
        padding: 0px 24px;
    }
    .dld-banner-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0px;
    }
    .dld-primary-btn {
        background: var(--main-color);
        border-radius: 8px;
        width: 270px;
        height: 50px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }
    .dld-banner-img {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dld-first-img {
        width: 300px;
        height: auto;
    }
    /* ------- About Me ------- */
    .dld-info-first {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 100%;
        justify-content: space-between;
    }
    .dld-profile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .dld-info {
        width: 70%;
    }
    .dld-rs {
        display: flex;
        flex-direction: row;
        height: 40px;
    }
    .dld-social {
        margin: 0px 10px 0px 0px;
    }
    .dld-info-second {
        display: flex;
        flex-direction: row;
        margin: 50px auto 0px;
        width: 100%;
        justify-content: space-between;
    }
    .dld-tools {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .dld-div-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin: 20px 0px;
    }
    .dld-tag {
        border: 1px solid var(--main-color);
        border-radius: 8px;
        background-color: white;
        height: 40px;
        width: auto;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        color: var(--main-color);
        flex-grow: 1;
        margin: 0px 5px 10px 5px;
    }
    .dld-img-tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 53px;
    }
    .dld-img-tools img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    /* ------- Education ------- */
    .dld-education {
        display: flex;
        flex-direction: column;
        width: 45%;
        align-items: center;
    }
    .dld-education-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0px;
    }
    .dld-itgam-content {
        display: flex;
        flex-direction: row;
        width: 344px;
        justify-content: space-between;
    }
    .dld-school {
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }
    .dld-school-info {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .dld-bedu-content {
        display: flex;
        flex-direction: row;
        width: 344px;
        justify-content: space-between;
    }
    .dld-school-info-b {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    /* ------- Work ------- */
    .dld-work-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    .dld-work-history {
        width: 765px;
        margin: 0px auto 40px auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .dld-work-history:last-child {
        margin: 0px auto;
    }
    .dld-dates {
        width: 102px;
    }
    .dld-dates p {
        text-align: center;
        margin: 10px 0px;
    }
    .dld-circle {
        width: 102px;
        height: 102px;
        border-radius: 50%;
        background: var(--main-color);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }
    .dld-work-info {
        width: 622px;
    }
    .dld-work-info ul {
        margin: 20px;
    }
    .dld-work-info ul li {
        font-family: "Poppins";
        font-size: 16px;
        line-height: 20px;
        color: var(--second-color);
        list-style-type: circle;
    }
    /* ------- Projects ------- */
    .dld-projects {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 24px;
    }
    .dld-projects-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .dld-card {
        width: 360px;
        height: 240px;
        background-color: white;
        display: flex;
        align-items: end;
        margin: 0px 0px 30px 0px;
        border-radius: 4px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    /* ------- Certifications ------- */
    .slider-container {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        justify-content: center;
        align-content: center;
    }
    .slider-container>img {
        width: 260px;
        height: 180px;
        margin: 10px;
        border-radius: 10px;
    }
    /* ------- Contact ------- */
    .dld-contact {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .dld-contact-first {
        width: 50%;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .dld-contact-first p {
        color: var(--second-color);
    }
    .dld-img-contact {
        width: 80%;
        height: 376px;
    }
    .dld-contact-second {
        width: 50%;
        height: 470px;
    }
    #aboutme {
        width: 100%;
        height: auto;
        padding: 50px 24px;
    }
    #work {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    #projects {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    #certification {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    #contact {
        width: 100%;
        height: auto;
        padding: 50px 24px;
    }
}


/* --------------- iPads (landscape) --------------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}


/* --------------- Breakpoint --------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 40px;
        line-height: 46px;
        color: white;
        margin: 0px;
    }
    h2 {
        margin: auto;
        padding: 0px 0px 50px 0px;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 0px;
    }
    .body_1 {
        font-size: 20px;
        line-height: 26px;
    }
    .body_2 {
        font-size: 18px;
        line-height: 24px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .title {
        font-size: 18px;
        line-height: 22px;
        margin: 0px 0px 10px 0px;
    }
    .caption {
        font-size: 14px;
        line-height: 18px;
        margin: 0px 0px 10px 0px;
    }
    .caption_2 {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    span {
        font-size: 16px;
        line-height: 20px;
    }
    /* ------- banner ------- */
    .banner {
        width: 100%;
        height: 400px;
        background-color: #060727;
        display: flex;
        flex-direction: row;
        padding: 0px 24px;
    }
    .dld-banner-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0px;
    }
    .dld-primary-btn {
        background: var(--main-color);
        border-radius: 8px;
        width: 270px;
        height: 50px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }
    .dld-banner-img {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dld-first-img {
        width: 300px;
        height: auto;
    }
    /* ------- About Me ------- */
    .dld-info-first {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 100%;
        justify-content: space-between;
    }
    .dld-profile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .dld-info {
        width: 70%;
    }
    .dld-rs {
        display: flex;
        flex-direction: row;
        height: 40px;
    }
    .dld-social {
        margin: 0px 10px 0px 0px;
    }
    .dld-info-second {
        display: flex;
        flex-direction: row;
        margin: 50px auto 0px;
        width: 100%;
        justify-content: space-between;
    }
    .dld-tools {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .dld-div-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin: 20px 0px;
    }
    .dld-tag {
        border: 1px solid var(--main-color);
        border-radius: 8px;
        background-color: white;
        height: 40px;
        width: auto;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        color: var(--main-color);
        flex-grow: 1;
        margin: 0px 5px 10px 5px;
    }
    .dld-img-tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 53px;
    }
    .dld-img-tools img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    /* ------- Education ------- */
    .dld-education {
        display: flex;
        flex-direction: column;
        width: 45%;
        align-items: center;
    }
    .dld-education-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0px;
    }
    .dld-itgam-content {
        display: flex;
        flex-direction: row;
        width: 344px;
        justify-content: space-between;
    }
    .dld-school {
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }
    .dld-school-info {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .dld-bedu-content {
        display: flex;
        flex-direction: row;
        width: 344px;
        justify-content: space-between;
    }
    .dld-school-info-b {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    /* ------- Work ------- */
    .dld-work-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    .dld-work-history {
        width: 765px;
        margin: 0px auto 40px auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .dld-work-history:last-child {
        margin: 0px auto;
    }
    .dld-dates {
        width: 102px;
    }
    .dld-dates p {
        text-align: center;
        margin: 10px 0px;
    }
    .dld-circle {
        width: 102px;
        height: 102px;
        border-radius: 50%;
        background: var(--main-color);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }
    .dld-work-info {
        width: 622px;
    }
    .dld-work-info ul {
        margin: 20px;
    }
    .dld-work-info ul li {
        font-family: "Poppins";
        font-size: 16px;
        line-height: 20px;
        color: var(--second-color);
        list-style-type: circle;
    }
    /* ------- Projects ------- */
    .dld-projects {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 24px;
    }
    .dld-projects-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .dld-card {
        width: 360px;
        height: 240px;
        background-color: white;
        display: flex;
        align-items: end;
        margin: 0px 0px 30px 0px;
        border-radius: 4px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    /* ------- Certifications ------- */
    .slider-container {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        justify-content: center;
        align-content: center;
    }
    .slider-container>img {
        width: 260px;
        height: 180px;
        margin: 10px;
        border-radius: 10px;
    }
    /* ------- Contact ------- */
    .dld-contact {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .dld-contact-first {
        width: 50%;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .dld-contact-first p {
        color: var(--second-color);
    }
    .dld-img-contact {
        width: 80%;
        height: 376px;
    }
    .dld-contact-second {
        width: 50%;
        height: 470px;
    }
    #aboutme {
        width: 100%;
        height: auto;
        padding: 50px 24px;
    }
    #work {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    #projects {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    #certification {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    #contact {
        width: 100%;
        height: auto;
        padding: 50px 24px;
    }
}


/* --------------- Desktops and laptops --------------- */

@media only screen and (min-width: 992px) and (max-width: 1999px) {
    h1 {
        font-size: 40px;
        line-height: 46px;
        color: white;
        margin: 0px;
    }
    h2 {
        margin: auto;
        padding: 0px 0px 50px 0px;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 0px;
    }
    .body_1 {
        font-size: 20px;
        line-height: 26px;
    }
    .body_2 {
        font-size: 18px;
        line-height: 24px;
        margin: 0px;
    }
    .body_3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0px;
    }
    .title {
        font-size: 18px;
        line-height: 22px;
        margin: 0px 0px 10px 0px;
    }
    .caption {
        font-size: 14px;
        line-height: 18px;
        margin: 0px 0px 10px 0px;
    }
    .caption_2 {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    span {
        font-size: 16px;
        line-height: 20px;
    }
    /* ------- banner ------- */
    .banner {
        width: 100%;
        height: 400px;
        background-color: #060727;
        display: flex;
        flex-direction: row;
        padding: 0px 150px;
    }
    .dld-banner-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0px;
    }
    .dld-primary-btn {
        background: var(--main-color);
        border-radius: 8px;
        width: 270px;
        height: 50px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }
    .dld-banner-img {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dld-first-img {
        width: 500px;
        height: auto;
    }
    /* ------- About Me ------- */
    .dld-info-first {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 1140px;
        justify-content: space-between;
    }
    .dld-profile {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .dld-info {
        width: 800px;
    }
    .dld-rs {
        display: flex;
        flex-direction: row;
        height: 40px;
    }
    .dld-social {
        width: 40px;
        height: 40px;
        border: 2px solid #060727;
        margin: 0px 10px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .fa-brands {
        width: 40px;
        padding: 12px;
        height: 40px;
        border-radius: 50%;
        color: var(--second-color);
    }
    .dld-info-second {
        display: flex;
        flex-direction: row;
        margin: 50px auto 0px;
        width: 1140px;
        justify-content: space-between;
    }
    .dld-tools {
        display: flex;
        flex-direction: column;
    }
    .dld-div-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 430px;
        justify-content: space-between;
        margin: 20px 0px;
    }
    .dld-tag {
        border: 1px solid var(--main-color);
        border-radius: 8px;
        background-color: white;
        height: 40px;
        width: auto;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        color: var(--main-color);
        flex-grow: 1;
        margin: 0px 5px 10px 5px;
    }
    .dld-img-tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 53px;
    }
    .dld-img-tools img {
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    /* ------- Education ------- */
    .dld-education {
        display: flex;
        flex-direction: column;
        width: 643px;
        align-items: center;
    }
    .dld-education-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 643px;
        margin: 20px 0px;
    }
    .dld-itgam-content {
        display: flex;
        flex-direction: row;
        width: 344px;
        justify-content: space-between;
    }
    .dld-school {
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }
    .dld-school-info {
        width: 224px;
        display: flex;
        flex-direction: column;
    }
    .dld-bedu-content {
        display: flex;
        flex-direction: row;
        width: 259px;
        justify-content: space-between;
    }
    .dld-school-info-b {
        width: 139px;
        display: flex;
        flex-direction: column;
    }
    /* ------- Work ------- */
    .dld-work-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 1140px;
    }
    .dld-work-history {
        width: 765px;
        margin: 0px auto 40px auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .dld-work-history:last-child {
        margin: 0px auto;
    }
    .dld-dates {
        width: 102px;
    }
    .dld-dates p {
        text-align: center;
        margin: 10px 0px;
    }
    .dld-circle {
        width: 102px;
        height: 102px;
        border-radius: 50%;
        background: var(--main-color);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }
    .dld-work-info {
        width: 622px;
    }
    .dld-work-info ul {
        margin: 20px;
    }
    .dld-work-info ul li {
        font-family: "Poppins";
        font-size: 16px;
        line-height: 20px;
        color: var(--second-color);
        list-style-type: circle;
    }
    /* ------- Projects ------- */
    .dld-projects {
        width: 1140px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dld-projects-content {
        width: 1140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .dld-card {
        width: 360px;
        height: 240px;
        background-color: white;
        display: flex;
        align-items: end;
        margin: 0px 0px 30px 0px;
        border-radius: 4px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    /* ------- Certifications ------- */
    .slider-container {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        justify-content: center;
        align-content: center;
    }
    .slider-container>img {
        width: 260px;
        height: 180px;
        margin: 10px;
        border-radius: 4px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    }
    /* ------- Contact ------- */
    .dld-contact {
        width: 1140px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .dld-contact-first {
        width: 500px;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .dld-contact-first p {
        color: var(--second-color);
    }
    .dld-img-contact {
        width: 400px;
        height: 376px;
    }
    .dld-contact-second {
        width: 540px;
        height: 470px;
    }
    #aboutme {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    #work {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    #projects {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    #certification {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    #contact {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
}


/* --------------- Large screens --------------- */

@media only screen and (min-width: 2000px) {}


/* ---------- Imágenes cover ---------- */

.tes {
    background-image: url("/assets/tes_web.jpg");
}

.mf {
    background-image: url("/assets/mf_web.jpg");
}

.enc {
    background-image: url("/assets/encadena_web.svg");
}

.ddc {
    background-image: url("/assets/ddc_web.jpg");
}

.comexi {
    background-image: url("/assets/comexi_web.svg");
}

.cpa {
    background-image: url("/assets/cpa_web.jpg");
}

.edu {
    background-image: url("/assets/10xedu_web.jpg");
}

.fenix {
    background-image: url("/assets/fenix_web.jpg");
}

.mcvw {
    background-image: url("/assets/mcv_web.jpg");
}

.mcvm {
    background-image: url("/assets/mcv_movil.jpg");
}